* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
/* header */
/* generali header */
header {
  background-color: #0c325a;
  background-image: url(../img/background-header.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom right;
  font-size: 20px;
  height: 600px;
}
header .header-top::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  width: 80%;
  margin: auto;
}
div .box {
  float: left;
  line-height: 70px;
}
/* /generali header */
/* logo */
.logo img {
  vertical-align: middle
}
div.logo {
  width: 10%;
}
/* /logo */
/* generali lista */
.first-ul {
  list-style: none;
  text-align: right;
  text-align: center;
}
.first-ul li {
  display: inline-block;
  padding: 0 7px;
}
.first-ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* /generali lista */
/* main menu */
nav.header-menu-left {
  width: 45%;
}
/* /main menu */
/* menu login */
nav.header-menu-right {
  width: 45%;
  margin-right: 0;
}
.header-menu-right .first-ul {
  text-align: right;
}
button.login {
  font-size: 18px;
  background-color: #0c325a;
  color: white;
  border: 1px solid white;
  padding: 10px 40px;
  border-radius: 10px;
  text-transform: uppercase;
}
button.piano {
  background-color: #7CBB02;
}
/* /menu login */
/* /header-title */
.header-title h1 {
  color:white;
  width: 50%;
  margin-top: 150px;
  margin-bottom: 20px;
  line-height: 70px;
  font-size: 60px
}
button.second {
  font-size: 20px;
  padding: 30px;
}
/* /header */
/* main */
/* greyraw */
.greyraw {
  height: 150px;
  background-color: #D3D3D3;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  padding-top: 20px;
}
p {
  color:#808080;
}
/* /geyraw */
/* stile colonne */
.method::after {
  content: "";
  display: block;
  clear:both;
}
section.method h3 {
  color: #7CBB02;
  width: 80%;
  margin-bottom: 20px;
}
section.method p {
  margin-top: 20px;
}
section.method .column {
  float:left;
  width: calc(100%/3);
  text-align: center;
}
.column h3, p {
  font-size: 28px;
  line-height: 45px;
}
hr {
  width: 20%;
  margin: auto;
}
/* /stile colonne */
/* terza sezione */
.graphic {
  height: 200px;
  background-color: red
}
.level {
  height: 200px;
  background-color: blue
}
/* /terza sezione */
