* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
/* header */
header {
  background-color: #0c325a;
  height: 400px;
  font-size: 20px;
}
header .header-top::after {
  content: "";
  display: block;
  clear: both;
}
.header-top {
 position:relative;
}
.logo img {
  vertical-align: middle
}
.container {
  width: 80%;
  margin: auto;
  height: 70px;
}
div .box {
  float: left;
  line-height: 70px;
  margin-right: 2%;
}
div.logo {
  width: 10%;
}
nav.header-menu-left {
  width: 50%;
}
.first-ul {
  list-style: none;
  text-align: right;
  text-align: center;
}
.first-ul li {
  display: inline-block;
  padding: 0 7px;
}
.first-ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
nav.header-menu-right {
  width: 36%;
  margin-right: 0;
}
.header-menu-right .first-ul {
  text-align: right;
}
button .login {
  font-size: 20px;
  background-color: #0c325a;
  border: 1px solid white;
}
/* /header */
